@include utility('background', 'primary') {
  background-color: yellow;
}

@include utility('background', 'secondary') {
  background-color: peachpuff;
}

@include utility('background', 'secondary', $breakpoint: 'sm') {
  background-color: peachpuff;
}
