@charset "UTF-8";

.Button {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-width: 1px;
  background: lightgray;
  border-color: lightgray;
  border-style: solid;
}

.Button--primary {
  background: yellow;
  border-color: yellow;
}

.Button--secondary {
  background: peachpuff;
  border-color: peachpuff;
}

.Button--secondary {
  background: peachpuff;
  border-color: peachpuff;
}

.Button--outline {
  background: white;
  border-color: lightgray;
}

.Button--outline--primary {
  border-color: yellow;
}

.Button--outline--secondary {
  border-color: peachpuff;
}

.Button .Button-label {
  text-transform: uppercase;
}

.Button.is-disabled {
  border-style: groove;
}

.Button.is-disabled {
  background: pink;
}

.ns-Button {
  font-size: 30px;
}

.ns-Button--primary {
  background: yellow;
  border-color: yellow;
  outline: 2px solid peachpuff;
}

.u-border  {
  border: 1px solid gray;
}

.u-border  {
  outline: 1px dashed blue;
}

.u-backgroundPrimary  {
  background-color: yellow;
}

.u-backgroundSecondary  {
  background-color: peachpuff;
}

.u-sm-backgroundSecondary  {
  background-color: peachpuff;
}

.u-fontWeightInitial  {
  font-weight: initial !important;
}

.u-fontWeightLighter  {
  font-weight: lighter !important;
}

.u-fontWeightNormal  {
  font-weight: normal !important;
}

.u-fontWeightBold  {
  font-weight: bold !important;
}

.u-fontWeightBolder  {
  font-weight: bolder !important;
}

.u-fontWeight100  {
  font-weight: 100 !important;
}

.u-fontWeight200  {
  font-weight: 200 !important;
}

.u-fontWeight300  {
  font-weight: 300 !important;
}

.u-fontWeight400  {
  font-weight: 400 !important;
}

.u-fontWeight500  {
  font-weight: 500 !important;
}

.u-fontWeight600  {
  font-weight: 600 !important;
}

.u-fontWeight700  {
  font-weight: 700 !important;
}

.u-fontWeight800  {
  font-weight: 800 !important;
}

.u-fontWeight900  {
  font-weight: 900 !important;
}
